doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #root
    script(src='/socket.io/socket.io.js')
    script(src="/static/bundle.js")
    script(type='text/javascript').
      var config = !{JSON.stringify(config)}
